:root {
  --swiper-theme-color: #f6f6f6 !important;
}

body {
  margin:0;
}

.main > img {
  display:block;
}

.slider-box-1 {
  width:1920px;
  height: 1000px;
}

.slider-box-1 .swiper {
  height:100%;
}

.slider-box-1 .swiper-button-prev {
  left:40px;
}

.slider-box-1 .swiper-button-next {
  right:40px;
}


.slider-box-1 .swiper .swiper-slide {
  background-size:cover;
}

.slider-box-1 .swiper .slide-1 {
  background-image:url("../img/Mmain.png");
}

.slider-box-1 .swiper .slide-2 {
  background-image:url("../img/CUmain.png");
}
.slider-box-1 .swiper .slide-3 {
  background-image:url("../img/Dmain.png");
}
.slider-box-1 .swiper .slide-4 {
  background-image:url("../img/Fmain.png");
}
.slider-box-1 .swiper .slide-5 {
  background-image:url("../img/Jmain.png");
}

.slider-box-1 .swiper .slide-6 {
  background-image:url("../img/Kimain.png");
}


.slide-1 > div{
  font-size: 15px;
  position:absolute;
  bottom:226px;
  right:648px;
}

.arrow {
  display:block;
  position: absolute;
  width:90px;
  height:50px;
  right:650px;
  bottom:131px;
}

.arrow > .c {
  position:absolute;
  left:14px;
  top:50%;
  transform:translatey(-50%);
  transition: 0.5s;
}

.arrow:hover > .c {
  left: 50px;
}

.arrow > .a {
  position:absolute;
  top:50%;
  transform:translatey(-50%);
}

.swiper-pagination-bullet {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  color: black;
}

/* html, body {
    overflow-x:visible !important;
  }
.site-wrap {
  width:1920px;
}
  

 #fp-nav > ul > li > .fp-tooltip{
    color:#fff;
  }

  #fp-nav ul li a.active span {
    background-color: #fff;
  }

  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    color: transparent;
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5rem;
  }

  
  .fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 1920px;
    height: 937px;
    position: relative;
  }



  #fullpage > .main  > div {
    background-image:url("../img/main.png");
  }

 #fullpage > .section-1 {
    background-image:url("../img/Mmain.png");
  }
  #fullpage > .section-2 {
    background-image:url("../img/CUmain.png");
  }
  #fullpage > .section-3 {
    background-image:url("../img/Dmain.png");
  }
  #fullpage > .section-4 {
    background-image:url("../img/Fmain.png");
  }
  #fullpage > .section-5 {
    background-image:url("../img/Jmain.png");
  }
  #fullpage > .section-6 {
    background-image:url("../img/Kimain.png");
  } */